<article><h3>Canrug hangout number 1</h3><p><strong>Date and Time:</strong> <span class="js-local-time" data-start="2026-09-18T11:30:00-06:00" data-end="2026-09-18T12:30:00-06:00">Sep 18, 2026, 11:30 AM - 12:30 PM</span></p><div>Come hang out and talk Ex Libris products with your fellow Canadians!

________________________________________________________________________________
Microsoft Teams meeting
Join: https://teams.microsoft.com/meet/281840021534607?p=tGDHwzhYvFnN6wTzTu
Meeting ID: 281 840 021 534 607
Passcode: mu9ia279
________________________________
Need help? | System reference
Dial in by phone
+1 647-794-1609,,643827917# Canada, Toronto
Find a local number
Phone conference ID: 643 827 917#
For organizers: Meeting options | Reset dial-in PIN
________________________________________________________________________________
</div></article>
